<!-- Technical Skills Section -->
<section class="skills">
  <h2>Technical Expertise</h2>
  <div class="skills-grid">
    <div class="skill-category">
      <h3>Frontend Development</h3>
      <ul>
        <li>Javascript, Typescript, Angular, HTML5/CSS3</li>
        <li>
          UI libraries: Bootstrap, Angular Material, Ant Design, TailwindCSS
        </li>
        <li>State management: RxJS, Ngrx</li>
        <li>Responsive Web Design</li>
      </ul>
    </div>
    <div class="skill-category">
      <h3>Backend Development</h3>
      <ul>
        <li>NodeJs, NestJS</li>
        <li>Microservices (NATS), PostgreSQL, Redis</li>
        <li>Real-time communication: WebSockets, Socket.IO</li>
        <li>RESTful API Design</li>
      </ul>
    </div>
    <div class="skill-category">
      <h3>Tools & Platforms</h3>
      <ul>
        <li>Nx - Monorepo, Docker, Linux</li>
        <li>Unit tests: Karma, Jasmine and Jest</li>
        <li>Version Control: Git, GitHub</li>
        <li>CI/CD Pipelines</li>
      </ul>
    </div>
  </div>
</section>
